* {
  box-sizing: border-box;
  margin: 0 auto;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-color: rgb(246,247,249);
  max-width: 720px;
  margin: 0 auto;
}
h1 , h2 {
  font-family: 'Lato', sans-serif;
}
p , a {
  font-family: 'Libre Baskerville', serif;
}
/* BARRA DE NAVEGACION */
header, footer {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.menu li {
  display: none;
  font-size: 20px;
}
.menu a {
  color: black;
  font-family: 'Lato', sans-serif;
}
.menu .logo, .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container{
  position: relative;
}
.column {
  margin-top: 25px;
  position: absolute;
  top: 140px;
  left: 193px;
}
.form h1 {
  font-size: 40px;
  padding: 20px 0;
}
strong {
  font-family: 'Lato', sans-serif;
  color: blue;
}
.login {
  padding: 20px 0;
}
.login label {
  padding: 10px 0;
}
.login input {
  width: 100%;
  margin-bottom: 10px;
}
.new {
  font-size: 20px;
}
#recordarme {
  width: 15px;
}
.remember {
  margin: 5px 0;
  text-align: right;
}
.submit{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
button {
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
}
@media (min-width:1024px) {
  body {
    max-width: 1200px;
  }
  header, footer {
    position: relative;
  }
  section {
    top: 0;
  }
  .logo span {
    display: none;
  }
  .menu li {
    display:flex;
  }
  .menu, .main-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .column {
    position: static;
  }
  .img_wel {
    overflow: hidden;
  }
  .img_wel div {
    float: left;
    width: 50%;
  }
  .welcome {
    position: static;
    text-align: left;
    transform: translate(0,0);
    padding: 90px;
  }

  .logo {
    display: flex;
    flex-direction: column;
  }
  .logo a {
    display: none;
  }
  .featured{
    margin-top: 0;
  }

  .featured-products {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .product {
    width: 33.33%;
    height: 480px;
  }
  .mid {
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  .photo, .photo3 {
    height: 480px;
  }
  .photo2, .photo-containera {
    height: 240px;
  }

  footer {
    display: block;
  }
}
